@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

.pricingItem {
  margin-right: 30px;
  width: 450px;
  text-align: center;
  background-color: #fff;
}

.pricingItem:last-child {
  margin-right: 0;
}

.icon {
  display: block;
  width: 218px;
  height: 164px;
  background-repeat: no-repeat;
  background-position: bottom;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 40px;
  padding: 0;
}

.label {
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 0;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 35px;
  font-weight: 400;
}

.labelBronze {
  composes: label;
  color: #dd7c4b;
}

.labelSilver {
  composes: label;
  color: #c0c0c0;
}

.labelGold {
  composes: label;
  color: #dda431;
}

.capacity {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-transform: uppercase;
  color: #b4b4b4;
}

.description {
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0;
  width: 320px;
  color: #bababa;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.price {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  color: #7f8c8d;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
}

.button {
  margin: 0;
  margin-bottom: 85px;
  padding: 0;
  width: 200px;
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  line-height: 50px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  cursor: pointer;
}

.buttonBronze {
  composes: button;
  background-color: #dd7c4b;
}

.buttonSilver {
  composes: button;
  background-color: #c0c0c0;
}

.buttonGold {
  composes: button;
  background-color: #dda431;
}
